[submodule "chapter7_portfolio_construction/An-Open-Source-Implementation-of-the-Critical-Line-Algorithm-for-Portfolio-Optimization"]
	path = chapter7_portfolio_construction/An-Open-Source-Implementation-of-the-Critical-Line-Algorithm-for-Portfolio-Optimization
	url = https://github.com/Green-grape/An-Open-Source-Implementation-of-the-Critical-Line-Algorithm-for-Portfolio-Optimization.git
